<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 8)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TableTracker</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="screen" />
</head>
<body>
  <!-- start page -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TABLE TRACKER v0.1337</h1>
      </div>
    </div>
  {% block content %}
  {% endblock %}
  </div>

</body>
</html>
